{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <div class="container">
        <h1> Oups ! cette page n'existe pas ! </h1>
        <button href=" {{path('blog')}} " class="btn btn-info">Retour vers l'accueil</button>
    </div>
{% endblock %}